.top-bar {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    margin-top: 100px;
    margin-right: 24px;
    margin-left: 24px;
}

.top-bar__nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.top-bar__items {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 36px;
    margin-left: 26px;
    font-size: 18px;
    line-height: 120%;
    list-style: circle;
    list-style-position: inside;
}

.top-bar__item_no-mark {
    list-style: none;
}

.top-bar__link_current {
    text-decoration: none;
}

.top-bar__brand {
    min-width: 134px;
    margin-left: 5px;
}

.contact-info {
    align-content: center;
    max-width: 52%;
    margin-right: 26px;
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.contact-info p {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    margin-top: 86px;
    margin-bottom: 175px;
    padding-top: 165px;
    padding-right: 50px;
    padding-left: 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.hero__headline {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
    line-height: 123%;
    letter-spacing: 30px;
}

.hero__summary {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    padding-bottom: 56px;
    color: white;
}

.hero__caption {
    margin-left: 26px;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.banner-overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero__headline span {
    text-transform: uppercase;
}

.text-line_center {
    display: flex;
    justify-content: center;
}

.text-line_right {
    display: flex;
    justify-content: end;
}

.action-btn {
    margin-left: auto;
    border-radius: 0;
    padding: 12px 24px;
    outline: 1px solid white;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}

.items-section__title {
    margin-bottom: 24px;
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.items-section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-right: 24px;
    margin-left: 24px;
}

.items-section__grid-item {
    list-style: none;
}

.item-card {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    min-height: 596px;
    padding: 50.5px 40px;
    color: white;
}

.item-card-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-card_kind_book {
    background-image: url(../images/card-lot-02.jpg);
}

.item-card_kind_film {
    background-image: url(../images/card-lot-01.jpg);
}

.item-card_kind_art {
    background-image: url(../images/card-lot-03.jpg);
}

.item-card__heading {
    position: relative;
    z-index: 2;
    margin-top: 0;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-card__desc {
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
}

.items-section__more-link {
    margin-top: 30px;
    margin-left: 63px;
    font-size: 20px;
    max-width: fit-content;
    text-decoration: underline;
}

.info-block__side,
.info-block__main {
    display: flex;
    flex-direction: column;
}

.info-block__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-block__emblem {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-right: 71px;
    margin-left: 47px;
    border-radius: 50%;
    background-color: black;
}

.info-block__logo-img {
    width: 62%;
}

.info-block__heading {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.info-block {
    display: flex;
    flex-direction: row;
    margin-top: 182px;
    margin-right: 28px;
    margin-bottom: 176px;
    margin-left: 24px;
}

.info-block__text {
    font-size: 20px;
    line-height: 24.3px;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-right: 50px;
    margin-bottom: 86px;
    margin-left: 50px;
}

.page-footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-footer__links {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    list-style: none;
}

.page-footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.contact-info_footer {
    margin-left: 0;
    max-width: 22%;
}

.page-footer__link_current {
    text-decoration: none;
}

.page-footer__icon {
    width: 48px;
    height: 100%;
}
