.top-bar {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    padding: 92px 50px 96px 50px;
}

.top-bar__items {
    display: flex;
    gap: 13px;
    list-style-position: inside;
    list-style-type: circle;
}

.top-bar__item_current {
    list-style-type: none;
}

.top-bar__brand {
    width: 136px;
}

.top-bar__logo {
    display: block;
    height: auto;
}

.top-bar__contact {
    justify-self: end;
    max-width: 240px;
}

.contact-info {
    font-style: normal;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style-type: none;
    width: 240px;
}

.text-link {
    border-bottom: 1px solid black;
    text-decoration: none;
}

.text-link_current {
    border: none;
}

.main-content {
    font-size: 22px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    min-height: 757px;
    color: white;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
    text-transform: uppercase;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero__headline {
    width: 100%;
    height: 385px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 165px;
    margin-bottom: 106px;
    z-index: 1;
}

.headline-line {
    display: block;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
}

.headline-center {
    text-align: center;
}

.headline-right {
    text-align: right;
}

.hero__summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-weight: 400;
}

.hero__subtext {
    word-spacing: 0.9em;
}

.action-btn {
    width: 256px;
    height: 51px;
    color: inherit;
    font-size: inherit;
    text-transform: inherit;
    background-color: transparent;
    border: 1px solid white;
}

.items-section {
    margin: 180px 24px 120px 24px;
    color: black;
}

.items-section__title {
    margin-left: 40px;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.items-section__grid {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-bottom: 30px;
}

.items-section__grid-item {
    width: 334px;
    height: 596px;
    position: relative;
    display: flex;
}

.item-card-link {
    height: 100%;
    z-index: 1;
    text-decoration: none;
}

.item-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    color: white;
}

.item-card__heading {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-card__desc {
    font-size: 20px;
}

.item-card_kind_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.item-card_kind_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: auto 100%;
}

.item-card_kind_art {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: auto 100%;
}

.items-section__more-link {
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.info-block {
    margin: 0px 24px 180px 24px;
    height: 595px;
    color: black;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 275px 1fr;
    grid-template-areas:
    "info-block__side info-block__heading"
    ". info-block__paragraphs";
    column-gap: 25px;
}

.info-block__side {
    justify-self: center;
    grid-area: info-block__side;
}

.info-block__emblem {
    width: 240px;
    height: 240px;
    margin-top: 35px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-block__logo-img {
    width: 148px;
    height: 114px;
}

.info-block__heading {
    grid-area: info-block__heading;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-top: 136px;
}

.info-block__paragraphs {
    grid-area: info-block__paragraphs;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page-footer {
    min-height: 180px;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
}

.page-footer__nav {
    justify-self: center;
}

.page-footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.page-footer__socials {
    display: flex;
    gap: 48px;
    justify-self: end;
    list-style-type: none;
}

.page-footer__social-item {
    max-width: 48px;
}

.page-footer__icon {
    display: block;
}
